*{
    box-sizing: border-box;
}

img{
    height: 60px;
    width: 60px;
}

div{
    border: black solid thin;
}





.lvl{
    padding : 1rem;
    width: 25%;
}

.character-name, .race , .class{
    padding: 1rem;
    width: 25%;
}

.row-content.character-name{
    font-size: 3vw;
}

.row-content.class{
    font-size: 3vw;
}

.sheet-table{
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.table-header{
    display: flex;
}

.row-wrap {
    display: flex;
    flex-direction: row
}

.info-cap {
    display: flex;
    flex-direction: row 
}

.row-content , .info-cap {
    display: flex;
    flex-direction: row;
}


  @media all  and (min-width: 600px) {
    
}
