*{
    box-sizing: border-box;
}

img{
    height: 60px;
    width: 60px;
}

div{
    border: black solid thin;
}





.lvl{
    padding: 0 10px 0 10px;
    width: 25%;
}

.character-name, .race , .class{
    padding: 20px;
    width: 25%;
}
.sheet-table{
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.table-header{
    display: flex;
}

.row-wrap {
    display: flex;
    flex-direction: row
}

.info-cap {
    display: flex;
    flex-direction: row 
}

.row-content , .info-cap {
    display: flex;
    flex-direction: row;
}


  @media all  and (min-width: 600px) {
    
}
